// colors
$color-text-primary:  #eef;

// backgrounds
$color-background-primary: #0b1424;
$color-background-secondary: #161d32;
$color-background-tertiary: #51678c;

// borders
$color-border-primary: #0d40db;